extends layout 

block content 
  h1 !{brand.name} Products
  include search
  
  div.content
    each item, index in allItemsInBrand
      a(href=item.url) !{item.name}
      if index < allItemsInBrand - 1
        hr
  hr
  div.brand-links
    a.update-brand(href=`/inventory/brand/update/${brand._id}`) Update Brand 
    a.delete-brand(href=`/inventory/brand/delete/${brand._id}`) Delete Brand