extends layout 

block content 
  h1 !{brand.name} Products
  include search
  
  each item in allItemsInBrand 
    p 
      a(href=item.url) !{item.name}
  br
  hr
  p
    a(href=`/inventory/brand/update/${brand._id}`) Update Brand 
  p 
    a(href=`/inventory/brand/delete/${brand._id}`) Delete Brand