extends layout 

block content 
  h1 !{categorySingular} Products
  include search
  
  div.content
    each item, index in allItemsInCategory
      a(href=item.url) !{item.name}
      if index < allItemsInCategory.length - 1
        hr
  hr
  div.category-links
    a.update-category(href=`/inventory/category/update/${category._id}`) Update This Category 
    a.delete-category(href=`/inventory/category/delete/${category._id}`) Delete This Category
  include create