extends layout 

block content 
  h1 !{item.name}
  p(style="white-space: pre-wrap;") !{item.description}
  p #[strong Category: ]
    a(href=item.category.url) !{item.category.name}
  if item.brands.length
    p #[strong Brand#{item.brands.length > 1 ? "s" : ""}: ]
      each brand, index in item.brands
        a(href=item.brands[index].url) !{item.brands[index].name}
        if index < item.brands.length - 1
          |,&nbsp;
  
  p Price: $!{item.price}
  p Stock: !{item.stock}

  br
  hr
  p
    a(href=`/inventory/item/update/${item._id}`) Update Item 
  p 
    a(href=`/inventory/item/delete/${item._id}`) Delete Item